# Build directories
build/
out/
bin/
build-android64/
.idea/

# Visual Studio
.vs/
*.VC.db

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile

# Generated libraries/executables
*.exe
*.dll
*.lib
*.obj
*.pdb